@page "/dashboard"
@inject ApiClient _httpClient
<h3>Dashboard</h3>
@using Syncfusion.Blazor.Layouts
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Buttons
@using FrontEnd.Utils

<SfDashboardLayout>
<DashboardLayoutPanels>
    <DashboardLayoutPanel>
        <HeaderTemplate><div>Graph</div></HeaderTemplate>
        <ContentTemplate>
            <StockInfo Symbol="TSLA"></StockInfo>
        </ContentTemplate>
    </DashboardLayoutPanel>
    <DashboardLayoutPanel>
        <HeaderTemplate><div>Company symbol</div></HeaderTemplate>
        <ContentTemplate>
            <SfAutoComplete TValue="string" TItem="GameFields" Placeholder="e.g. Basketball" DataSource="@Games">
                <AutoCompleteFieldSettings Value="Text"/>
            </SfAutoComplete>
            <NavLink href="watchlist">
                <SfButton>Watchlist</SfButton>
            </NavLink>
        </ContentTemplate>
    </DashboardLayoutPanel>
</DashboardLayoutPanels>
</SfDashboardLayout>
 
<style>
.e-panel-header {
    background-color: rgba(0, 0, 0, .1);
    text-align: center;
}
.e-panel-content {
    text-align: center;
    margin-top: 10px;
}
</style>

@code {

    
    public class GameFields
    {
        public string ID { get; set; } = null!;
        public string Text { get; set; } = null!;
    }
    public List<GameFields> Games = new List<GameFields>()
    {
        new GameFields(){ ID= "Game1", Text= "American Football" },
        new GameFields(){ ID= "Game2", Text= "Badminton" },
        new GameFields(){ ID= "Game3", Text= "Basketball" },
        new GameFields(){ ID= "Game4", Text= "Cricket" },
        new GameFields(){ ID= "Game5", Text= "Football" },
        new GameFields(){ ID= "Game6", Text= "Golf" },
        new GameFields(){ ID= "Game7", Text= "Hockey" },
        new GameFields(){ ID= "Game8", Text= "Rugby"},
        new GameFields(){ ID= "Game9", Text= "Snooker" },
        new GameFields(){ ID= "Game10",Text= "Tennis"}
    };
}