@page "/login"
<h3>Login</h3>
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Buttons
@using global::Shared.DTO
@using FrontEnd.Utils
@using System.Net
@inject NavigationManager Nav

@if(ErrorMessage != null){
    <div class="alert alert-danger" role="alert">
        @ErrorMessage
    </div>
}

<form @onsubmit="PostLogin">
    <SfTextBox Placeholder="Login" @bind-Value="UserLogin"></SfTextBox><br>
    <SfTextBox Placeholder="Password" Type="InputType.Password" @bind-Value="UserPassword"></SfTextBox><br>
    <SfButton @onclick="PostLogin">Login</SfButton><SfButton @onclick="GoToRegister">Register</SfButton>
</form>
 
    <style>
    form > * {
        margin-top: 5px;
    }
    </style>

@inject ApiClient _HttpClient
@code {
    private string UserLogin { get; set; }
    private string UserPassword { get; set; }
    
    private string? ErrorMessage { get; set; }

    private async Task PostLogin()
    {
        ErrorMessage = null;
        
        var LoginData = new LoginDataDTO
        {
            Login = UserLogin,
            Password = UserPassword
        };
        var result = await _HttpClient.PostAsJsonAsync("/api/login", LoginData);


        if (!result.IsSuccessStatusCode)
        {
            if (result.StatusCode == HttpStatusCode.InternalServerError)
            {
                ErrorMessage = await result.Content.ReadAsStringAsync();
            }
            if (ErrorMessage == null || ErrorMessage.Trim().Length == 0)
            {
                ErrorMessage = result.ReasonPhrase;
            }
            Console.WriteLine(result.Content.ToString());
            Console.WriteLine();
            return;
        }

        var response = await result.Content.ReadFromJsonAsync<LoginResponseDTO>();

        if (response != null)
        {
            _HttpClient.SetAuthorization(response.JWTToken);
        }

        Nav.NavigateTo("/");
        
    }

    private void GoToRegister()
    {
        Nav.NavigateTo("/register");
    }

}