@inherits LayoutComponentBase
@inject ApiClient HttpClient
@using Syncfusion.Blazor.Buttons
@using FrontEnd.Utils

@code {
    protected override void OnInitialized()
    {
        HttpClient.OnLoginStateChange += StateHasChanged;
    }

    private void LogOut()
    {
        HttpClient.LogOut();
    }
}

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            @if (HttpClient.IsLogin)
            {
                <SfButton @onclick="LogOut">Log out</SfButton>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>